/* Reset styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End of reset styles */

/* spartan-regular - latin */
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/spartan-v7-latin/spartan-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/spartan-v7-latin/spartan-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-regular.svg#Spartan")
      format("svg"); /* Legacy iOS */
}
/* spartan-500 - latin */
@font-face {
  font-family: "Spartan bold";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/spartan-v7-latin/spartan-v7-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/spartan-v7-latin/spartan-v7-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/spartan-v7-latin/spartan-v7-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-500.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-500.svg#Spartan")
      format("svg"); /* Legacy iOS */
}
/* spartan-700 - latin */
@font-face {
  font-family: "Spartan bolder";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/spartan-v7-latin/spartan-v7-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/spartan-v7-latin/spartan-v7-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/spartan-v7-latin/spartan-v7-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/spartan-v7-latin/spartan-v7-latin-700.svg#Spartan")
      format("svg"); /* Legacy iOS */
}

html {
  font-size: 16px;
  font-family: "Spartan", sans-serif;

  @media (min-width: 1920px) {
    font-size: 150%;
  }
}

$darkPurple: #512051;
$informationTextColor: #927b91;
$introReviewsSectionBackground: #f7f2f7;
$spartan: "Spartan", sans-serif;
$spartanBold: "Spartan bold", sans-serif;
$spartanBolder: "Spartan bolder", sans-serif;
$white: #ffffff;
$lightPink: #ee69a4;

.container {
  padding: 0;

  @media (min-width: 768px) {
    padding: 60px;
  }

  @media (min-width: 1024px) {
    padding: 127px 165px 72px;
  }
}

.upper-wavy-wrapper {
  position: absolute;
  width: 100vw;

  & img {
    width: 100%;
  }

  @media (min-width: 768px) {
    width: 40vw;
  }
}

.lower-wavy-wrapper {
  position: absolute;
  width: 50vh;
  right: 0;
  top: 50%;

  & img {
    width: 100%;
  }

  @media (min-width: 768px) {
    top: 15%;
    width: 80vw;
  }
}

.intro {
  padding: 80px 24px 40px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 0;
  }

  @media (min-width: 1024px) {
    gap: 32px;
  }

  @media (min-width: 1440px) {
    gap: 132px;
  }
}

.information {
  text-align: center;
  padding: 0 0 50px 0;

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 40%;
  }
}

.information__title {
  color: $darkPurple;
  font-family: $spartanBolder;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;
  padding: 0 0 18px 0;

  @media (min-width: 768px) {
    text-align: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -2px;
    font-family: $spartanBolder;
  }

  @media (min-width: 1920px) {
    font-size: 72px;
    line-height: 72px;
    padding: 0 0 36px 0;
  }
}

.information__text {
  color: $informationTextColor;
  font-family: $spartanBold;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;

  @media (min-width: 768px) {
    text-align: left;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -1px;
    font-family: $spartanBold;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px 0;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 0;
  }

  @media (min-width: 1024px) {
  }
}

.reviews__section {
  background: $introReviewsSectionBackground;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  margin: 0px 23px;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 20px 32px;
    gap: 32px;
    width: 310px;

    &:nth-of-type(1) {
      margin: 0 90px 0 0;
    }

    &:nth-of-type(2) {
      margin: 0 45px 0 0;
    }

    &:nth-of-type(3) {
      margin: 0;
    }

    @media (min-width: 1440px) {
      width: 445px;
    }

    @media (min-width: 1920px) {
      width: 890px;

      &:nth-of-type(1) {
        margin: 0 180px 0 0;
      }

      &:nth-of-type(2) {
        margin: 0 90px 0 0;
      }
    }
  }

  & p {
    color: $darkPurple;
    margin: 0;
    font-family: $spartanBolder;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;

    @media (min-width: 1920px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__stars {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.users {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
    padding: 72px 0 0 0;
  }
}

.single-user {
  background: $darkPurple;
  border-radius: 8px;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media (min-width: 768px) {
    margin: 0;
    min-height: 234px;

    &:nth-of-type(2) {
      margin-top: 30px;
    }

    &:nth-of-type(3) {
      margin-top: 60px;
    }
  }
}

.single-user__info {
  &__name {
    color: $white;
  }

  &__verified {
    color: $lightPink;
  }
}

.single-user__opinion {
  color: $white;
}

.single-user__photo-and-info {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
